.carousel-caption {
  background: rgba(0,0,0,0.45);
  padding: 20px;
  border-radius: 12px;
}
.offer-slider {
  overflow: hidden;
}

.offer-track {
  display: flex;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}